/* Main Content */
.main-content {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 260px; /* Default margin when the side bar is open */
  transition: margin-left 0.3s ease;
}

/*RENATE - PROFILE - START*/
.profile-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.profile-container .profile-img {
  width: 35px;
  height: 35px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.profile-container .profile-img i {
  color: #005f73;
}

/*RENATE - PROFILE - END*/

/* RENATE - HERO SECTION - START */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: var(--p-size-medium);
}

.card-icon {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #f9f9f9;
  font-size: 1.2rem;
  cursor: pointer;
}

.balance-amount {
  display: flex;
  justify-content: center;
  text-align: center;
}

.currency {
  font-size: var(--h1-size);
  margin-right: 5px;
}

#blurred-currency {
  transition: filter 0.3s ease;
}

/* HERO-LEFT BTNS */
.hero-left {
  flex: 1;
}

.scann_font {
  font-size: 13px;
}

.action-btn {
  height: auto;
  width: 50%;
  margin: 1rem;
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-clip: var(--container-color);
  color: #005f73;
  background-color: #f9f9f9;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.action-btn:hover {
  background-color: #ebebeb;
}

.action-btn i {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.action-btn:hover i {
  animation: jump 0.8s ease-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* HERO TABLET/PHONE */
@media only screen and (max-width: 430px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-right {
    width: 100%;
  }

  .hero-left {
    width: 100%;
    display: flex;
  }
}

/* Section Headers */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section-header h2 {
  font-size: var(--h2-size);
  color: #002432;
}

.view-all {
  font-size: var(--view-all-size);
  color: #005f73;
  text-decoration: none;
  font-weight: 500;
}

/* Spending Categories */
.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.category-card {
  background-color: var(--container-color);
  border-radius: var(--border-radius-containers);
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.category-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 1.3rem;
  color: white;
}

.category-icon.food {
  background-color: #ee9b00;
}

.category-icon.entertainment {
  background-color: #94d2bd;
}

.category-icon.shopping {
  background-color: #4a9998;
}

.category-info {
  flex: 1;
}

.category-info h3 {
  font-size: var(--h3-size);
  margin-bottom: 5px;
  color: #002432;
}

.progress-bar {
  height: 8px;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 4px;
  background-color: #005f73;
}

.category-info p {
  font-size: var(--p-size-small);
  color: #666;
}

.budget {
  color: #999;
}

/* TOUBHA - RECENT TRANSACTIONS */
.transactions-monthly-overview-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}

/* Recent Transactions Section */
.recent-transactions {
  width: 100%;
  max-height: 414px; /* Matches the pie chart */
  text-transform: capitalize; /* Transforms all text to uppercase */
}

#js-transactions {
  width: 100%;
  max-height: 366px; /* Matches the pie chart */
  overflow-y: auto; /* Enables scroll when necessary */
  padding-right: 10px;

  @media (min-width: 900px) {
    max-width: 770px;
  }
}

/* Fix for scrollbar only appearing when needed */
#js-transactions::-webkit-scrollbar {
  width: 6px;
}

#js-transactions::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
}

#js-transactions::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Transaction Cards */
.transaction-card {
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: var(--container-color);
  border-radius: var(--border-radius-containers);
}

.transaction-card:not(:first-child) {
  margin-top: 1rem;
}

.transaction-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Icons */
.transaction-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 1.3rem;
  color: white;
  border-radius: 12px;
  background-color: #5e72e4;
}

/* Category-specific colors */
.transaction-icon.refreshments {
  background-color: var(--refreshments-color);
}

.transaction-icon.gift {
  background-color: var(--gift-color);
}

.transaction-icon.clothing {
  background-color: var(--clothing-color);
}

/* Transaction Amount */
.transaction-amount {
  text-align: right;
}

.amount-spent {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

/* Positive transactions (money received) */
.transaction-amount.positive .amount-spent {
  color: var(--success-color);
  font-weight: 500;
}

/* Date Styling */
.transaction-date {
  font-size: 0.8rem;
  color: var(--text-light);
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: var(--bg-color);

  background-color: #f9f9f9;

  color: #333;
  line-height: 1.6;
}

.app-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 70px; /* Space for bottom nav on mobile */
}

/* Navigation */

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e1e4e8;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3 ease, transform 0.3s ease;
  overflow-y: auto;
  z-index: 100;
}

.sidebar.collapsed {
  width: 50px; /* Ensure the width shrinks */
}

/* Make menu icons center-alligned when collapsed */
.sidebar.collapse .menu-item {
  justify-content: center;
  display: none;
  margin: 0;
}

/* Toggle button */
.toggle-button {
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Make menu icons center-alligned when collapsed */
.sidebar.collapse .menu-item {
  justify-content: center;
  display: none;
  margin: 0;
}

/* Toggle button */
.toggle-button {
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.collapsed + .toggle-button .toggle-icon {
  transform: rotate(180deg);
}

.sidebar-header {
  display: flex;
  align-self: center;
  padding: 16px;
  border-bottom: 1px solid #e1e4e8;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-weight: 600;
  font-size: var(--p-size-large);
  color: #1a202c;
  transition: opacity 0.3s ease;
}

.collapsed .logo {
  opacity: 0;
}

.menu-list {
  list-style: none;
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #005f73;
  font-size: var(--span-size-s);
  cursor: L pointer;
  transition: 0.3s;
}

.menu-item i {
  margin-right: 12px;
  font-size: 16px;
}

.menu-item:hover,
.menu-item.active {
  background-color: #edf2ff;
  color: #002432;
  font-weight: 500;
}

.user-profile {
  margin-top: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f0f4f8;
  transition: opacity 0.3s ease;
}

.user-name {
  color: #002432;
  font-size: var(--p-size-medium);
}

.user-status {
  color: #002432;
  font-size: var(--p-size-medium);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #4a5568;
  margin-right: 12px;
}
.avatar-logo,
.top-logo {
  width: 65px;
  height: 55px;
}

.toggle-button {
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 100;
  transition: all 0.3s ease;
}

/* Icon animation for toggle*/

.toggle-icon {
  transition: transform 0.3s ease;
}

.sidebar:not(.colapsed) .toggle-icon {
  transform: rotate(180deg);
}

.sidebar.collapsed ~ .main-content {
  margin-left: 50px; /* Reduce gap when sidebar is collapsed */
}

/*RENATE - PROFILE - START*/
.profile-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.profile-container .profile-img {
  width: 35px;
  height: 35px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.profile-container #profile-name {
  color: #313589;
  text-transform: capitalize;
  font-size: var(--p-size-medium);
}
/*RENATE - PROFILE - END*/

/* HERO CARD INFORMATION */
.hero-right {
  flex: 2;
  max-height: 250px;
  height: 250px;
  width: 100%;
  width: auto;
  border-radius: var(--border-radius-containers);
  padding: 25px;
  color: #f9f9f9;
  background: linear-gradient();
  animation: bg 12s ease infinite;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

  background: linear-gradient(-120deg, #94d2bd, #4a9998, #002432);
  background-size: 200% 200%;
  animation: move-bg 15s ease infinite;
}

@keyframes move-bg {
  0% {
    background-position: 30% 40%;
  }
  50% {
    background-position: 80% 0%;
  }
  100% {
    background-position: 30% 40%;
  }
}

.card-icon {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #f9f9f9;
  font-size: 1.2rem;
  cursor: pointer;
}

/* HERO-LEFT BTNS */
.hero-left {
  flex: 1;
}

.scann_font {
  font-size: 13px;
}

.action-btn {
  height: auto;
  width: 50%;
  margin: 1rem;
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-clip: var(--container-color);
  color: #005f73;
  background-color: #f9f9f9;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.action-btn:hover {
  background-color: #ebebeb;
}

.action-btn i {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.action-btn:hover i {
  animation: jump 0.8s ease-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Section Headers */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section-header h2 {
  font-size: var(--h2-size);
  color: #002432;
}

.view-all {
  font-size: var(--view-all-size);
  color: #005f73;
  text-decoration: none;
  font-weight: 500;
}


/* Spending Categories */
.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.category-card {
  background-color: var(--container-color);
  border-radius: var(--border-radius-containers);
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.category-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 1.3rem;
  color: white;
}

.category-icon.food {
  background-color: #ee9b00;
}

.category-icon.entertainment {
  background-color: #94d2bd;
}

.category-icon.shopping {
  background-color: #4a9998;
}

.category-info {
  flex: 1;
}

.category-info h3 {
  font-size: var(--h3-size);
  margin-bottom: 5px;
  color: #002432;
}

.progress-bar {
  height: 8px;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 4px;
  background-color: #005f73;
}

.category-info p {
  font-size: var(--p-size-small);
  color: #666;
}

.budget {
  color: #999;
}

/* TOUBHA - RECENT TRANSACTIONS */
.transactions-monthly-overview-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
  max-width: 1585px;
  margin: 0 auto;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.recent-transactions {
  width: 100%;
  max-height: 420px;
  overflow: hidden;

  @media (min-width: 900px) {
    max-width: 800px;
  }
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 408px;
  overflow-y: auto;
  padding-right: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.transaction-list::after {
  content: "";
  display: block;
  height: 20px;
}

.transaction-list::-webkit-scrollbar {
  width: 6px;
}

.transaction-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.transaction-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.transaction-icon.spotify {
  background-color: #94d2bd;
}

.transaction-icon.coffee {
  background-color: #ee9b00;
}

.transaction-card.restricted {
  border-left: 3px solid #005f73;
}

.transaction-icon.restricted {
  background-color: #005f73;
}

.transaction-icon.allowance {
  background-color: #4a9998;
}

.transaction-info {
  flex: 1;
}

.transaction-info h3 {
  font-size: var(--h3-size);
  color: #002432;
}

.transaction-info p {
  font-size: var(--p-size-small);
  color: #999;
}

.amount-spent {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
}

.status {
  color: #94d2bd;
  font-weight: 500;
}

/*Monthly Overview Card*/
.monthly-overview {
  width: 100%;

  @media (min-width: 900px) {
    padding-left: 1.7rem;
  }

  @media (width<900px) {
    display: none;
  }
}

.monthly-overview-card {
  width: 100%;
  height: 366px;
  transform-style: preserve-3d;
  transition: transform 0.6s;

  @media (min-width: 900px) {
    max-width: 800px;
    height: 414px;
  }
}

.monthly-overview:hover .monthly-overview-card {
  transform: rotateY(180deg);
}

.card-side {
  position: absolute;
  width: 100%;
  height: 366px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: var(--container-color);
  border-radius: var(--border-radius-containers);
}

.front {
  background: var(--container-color);
}

h4 {
  color: #002432;
  font-size: var(--h4-size);
}

.pie-charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pie {
  flex: 1 0 225px;
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: radial-gradient(white 0 40%, transparent 40% 70%, white 70%),
    conic-gradient(
      #005f73 0% 30%,
      #4a9998 30% 60%,
      #94d2bd 60% 65%,
      #b3cea3 65% 70%,
      #ee9b00 70% 100%
    );

  transform: scale(0);
  animation: growPie 1s ease-in-out forwards;
}

@keyframes growPie {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.legends {
  margin-block-end: 2rem;
  font-size: var(--span-size-s);
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 1rem;
  color: #002432;
}

.legends span {
  position: relative;
  gap: space-between;
}

.legends span::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Different colors for each category */
.category-color-entertainment::before {
  background-color: #94d2bd;
}

.category-color-electronics::before {
  background-color: #005f73;
}

.category-color-clothes::before {
  background-color: #4a9998;
}

.category-color-travel::before {
  background-color: #b3cea3;
}

.category-color-sport::before {
  background-color: #ee9b00;
}

.back {
  background: var(--container-color);
  transform: rotateY(180deg);
}

/*TUBHA - MONTHLY SPENDING CARD */
.chart-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  position: absolute;
  width: 100%;
}

.monthly-spending-title {
  color: #002432;
  font-family: "Poppins", "sans-serif";
  font-weight: 800;
  font-size: var(--h5-size);
  padding-bottom: 17.8rem;
}
.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding-right: 10px;
  padding-top: 1.9rem;
  font-size: var(--span-size-s);
  text-align: right;
  color: #002432;
  gap: 1.5rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 90%;
  min-width: 230px;
  height: 250px;
  border-left: 2px solid #005f73;
  border-bottom: 2px solid #005f73;
  padding: 1rem;
  gap: 10px;

  @media (width>950px) {
    width: 380px;
  }
}
.food-bar,
.entertainment-bar,
.shopping-bar {
  flex: 1;
  min-width: 50px;
  max-width: 100px;
  text-align: center;
  color: white;
  font-size: var(--span-size-s);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}

/* Individual bar heights */
.food-bar {
  background-color: #ee9b00;
  height: 50px;
}

.entertainment-bar {
  background-color: #b3cea3;
  height: 120px;
}

.shopping-bar {
  background-color: #4a9998;
  height: 90px;
}

.months {
  display: flex;
  gap: 1rem;
  width: 235px;
  margin-top: 10px;
  color: #002432;
  font-size: var(--span-size-s);

  font-size: var(--span-size-s);

  @media (width>950px) {
    gap: 3rem;
    padding-left: 2.2rem;
  }
}

.spending-categories {
  padding-top: 1.5rem;
  @media (width>900px) {
    display: none;
  }
}

/* Restricted Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #999;
}

.modal-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-size: 2rem;
}

.modal-icon.restricted {
  background-color: #ff396f;
  color: white;
}

.modal h2 {
  margin-bottom: 15px;
  color: #333;
}

.modal p {
  margin-bottom: 15px;
  color: #666;
  font-size: 0.95rem;
}

.item-details,
.restriction-reason {
  font-weight: 500;
  margin-bottom: 10px;
}

.item-details span,
.restriction-reason span {
  font-weight: 400;
  color: #ff396f;
}

.modal-btn {
  background-color: #ee9b00;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 25px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}

